services:
  # Mock docker-compose file for testing
  chromadb:
    image: chromadb/chroma:latest
    ports:
      - "8001:8000"
    environment:
      - CHROMA_SERVER_HOST=0.0.0.0
      - CHROMA_SERVER_HTTP_PORT=8000

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  redis:
    image: redis:latest
    container_name: redis
    command: redis-server --requirepass smucks

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3

  app:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    working_dir: /app
    env_file:
      - ./local.env
    volumes:
      - ./app:/app/app
    ports:
      - "8002:8000"
    restart: always
    depends_on:
      - redis
      - minio
      - chromadb
      - elasticsearch

  celery_app:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "celery multi start 7 -Q:1-4 default_queue -Q:5-6 transcription_queue -Q:7 io_queue -A task_processing.celery_app --loglevel=info --logfile=logs/celery.log -c:1-4 4 -c:5-6 3 -c:7 1000 -P:7 gevent --detach && tail -f /dev/null"
    working_dir: /app
    env_file:
      - ./local.env
    volumes:
      - ./app:/app/app
    depends_on:
      - minio
      - redis
      - app
      - elasticsearch

  flower:
    image: mher/flower
    command: celery --broker=redis://:smucks@redis:6379/0 flower --port=5555
    ports:
      - "5555:5555"
    environment:
      - FLOWER_UNAUTHENTICATED_API=true
    depends_on:
      - app
      - redis
      - celery_app

volumes:
  minio_data:
  esdata: